@import url("../src/fonts/Oswald/stylesheet.css");
@import url("../src/fonts/Roboto/stylesheet.css");
@media all and (max-width: 768px) {
  .navbar__wrap .menu,
  .navbar__wrap .contacts {
    display: none;
  }
  .cont {
    padding-inline: 15px;
  }
  .hamb {
    display: flex;
    align-items: center;
    order: 2;
    z-index: 200;
  }
  .logo {
    font-size: 24px;
    font-family: "Oswald";
    line-height: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-transform: none;
    color: white;
    z-index: 200;
  }
  .hamb__field {
    padding: 4px 8px;
    background-color: #d1a954;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.3s;
    border: 3px solid #d1a954;
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
    border-radius: 5px;
  }
  .popup {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #333333;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }
  .popup.open {
    left: 0;
  }
  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 100px 0 0 0;
    overflow: auto;
  }
  .popup .menu > li {
    width: 100%;
  }
  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 16px 16px;
    font-size: 24px;
    font-family: "Oswald";
    line-height: 29px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    transition: all 0.3s;
  }
  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
    color: #d1a954;
    transition: all 0.3s;
  }
  .mobile-li {
    display: block;
  }
  .popup .menu > li.mobile-li a {
    font-size: 14px;
    font-family: "Roboto";
    line-height: 14px;
    font-weight: 400;
    align-items: center;
    gap: 6px;
    transition: all 0.3s;
  }
  .popup .menu > li.mobile-li a svg {
    width: 17px;
  }
  .popup .menu > li.mobile-li a svg path {
    transition: all 0.3s;
  }
  .popup .menu > li.mobile-li a:hover {
    color: #d1a954;
    transition: all 0.3s;
  }
  .popup .menu > li.mobile-li a:hover svg path {
    fill: #d1a954;
    transition: all 0.3s;
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb__field.active {
    background-color: #333333;
    transition: all 0.3s;
    border: 3px solid white;
  }
  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  body.noscroll {
    overflow: hidden;
  }
  section {
    overflow-x: hidden;
  }
  .custom-btn {
    padding: 19px 50px;
    font-size: 14px;
    font-family: "Roboto";
    line-height: 3px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2px;
    border: 2px solid #d1a954;
  }
  .custom-btn:hover {
    border: 2px solid white;
  }
  .home {
    padding-bottom: 52px;
    height: 730px;
  }
  .home .swiper-btn {
    display: none;
  }
  .home .cont {
    gap: 0;
    flex-direction: column-reverse;
    padding-inline: 15px;
  }
  .home .wrapper-left {
    max-width: 325px;
    margin-top: 0;
    margin-left: 0;
  }
  .home .wrapper-left h1 {
    font-size: 20px;
    font-family: "Oswald";
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #d1a954;
    margin: 0;
  }
  .home .wrapper-left h2 {
    font-size: 34px;
    font-family: "Oswald";
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin: 20px 0;
  }
  .home .wrapper-right {
    max-width: 195px;
    margin-top: 330px;
    margin-left: auto;
    margin-bottom: 56px;
  }
  .home .wrapper-right h2 {
    font-size: 22px;
    font-family: "Oswald";
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
  }
  .home .wrapper-right h2 span {
    font-size: 22px;
    font-family: "Oswald";
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #d1a954;
    margin-right: 12px;
  }
  .home .wrapper-right p {
    font-size: 14px;
    font-family: "Roboto";
    line-height: 18px;
    font-weight: 400;
    color: white;
    margin: 0;
  }
}/*# sourceMappingURL=responsive.css.map */